.layout {
    display:flex;
    width : 500px;
    height: 500px;
}

.left {
    width : 80% ;
   
}

.header {
    height: 20%;
    
}

.right{
    width : 20%;
}

.content {
    display: flex;
    height: 300px;
}

.sidebar {  
    width: 25%;
    
}

.article { 
    width: 75%;
    
}

.footer {
    height: 20%;
}


.aside-1,.aside-2,.aside-3 { 
    height: 167px;
}


